{erl_opts, [no_debug_info]}.
{deps, []}.

{escript_incl_apps,
 [symbolic_differentiator]}.
{escript_main_app, symbolic_differentiator}.
{escript_name, symbolic_differentiator}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
